Q- How can we store a s1ngle quote (‘) as a str1ng 1n a var1able?
Ans-

In [6]:
a = "'"

In [7]:
a

"'"

Q2 Refer the below var1able:
x = ‘a'
Here, Is x a character type or str1ng type var1able? Support your answer w1th an explanat1on.
Ans -

In [8]:
x = 'a'

In [9]:
type(x)

str

In [ ]:
here x is string type variable . In Python, strings are defined by enclosing characters within single quotes (' ') or double quotes (" "). In this case, the value assigned to x is 'a(', which is enclosed within single quotes, indicating that it is a string literal.

A character type variable, also known as a char type, is typically used in programming languages that differentiate between individual characters and strings. However, in Python, there is no distinct character type. Instead, individual characters are represented as strings containing a single character. Therefore, in Python, a string consisting of a single character is used to represent what would be considered a character in other languages.

In [ ]:
Q-Apply the follow1ng funct1ons on th1s var1able: ‘Welcome to Python foun at1on course'
SP f1n ()
.P count()
?P len()
P Concatenat1on
Note: You can use your cho1ce of parametersQ But make sure 1t 1s correct.

In [10]:
s2 = 'Welcome to Python foundation course'

In [11]:
s2

'Welcome to Python foundation course'

In [14]:
s2.find('f')

18

In [19]:
s2.count('o')

6

In [20]:
len(s2)

35

In [21]:
string1 = "Hello"
string2 = "World"
result = string1 + string2
print(result)

HelloWorld

In [ ]:
Q4- For the var1able: word = ‘PanaJi12256'
Calculate the follow1ng:
(a) Total number of alphabets 1n lowercase
(b) Total number of alphabets 1n uppercase
(c) Total number of numer1cal 1n str1ng

In [22]:
 word = 'PanaJi12256'

In [23]:
word

'PanaJi12256'

In [29]:
len(word('upper')

SyntaxError: incomplete input (2209625153.py, line 1)

In [30]:
word = 'PanaJi12256'

# Initialize counters
lowercase_count = 0
uppercase_count = 0
numerical_count = 0

# Iterate through each character in the string
for char in word:
    if char.islower():
        lowercase_count += 1
    elif char.isupper():
        uppercase_count += 1
    elif char.isnumeric():
        numerical_count += 1

# Print the results
print("Total number of lowercase alphabets:", lowercase_count)
print("Total number of uppercase alphabets:", uppercase_count)
print("Total number of numerical characters:", numerical_count)

Total number of lowercase alphabets: 4
Total number of uppercase alphabets: 2
Total number of numerical characters: 5

Q5- Wr1te a co e to store a numer1cal value 1ns1 e a var1able then convert 1t 1nto str1ngQ
ans-

In [1]:
b = 5

In [2]:
b

5

In [3]:
type(b)

int

In [4]:
b = '5'

In [ ]:
type(b